{% macro creatSelectOptions(options, selected) %}
<option value="" 2>
  Seleccioná una opción
</option>
  {% for option in options%}
    <option value="{{ option.value}}" {% if selected == option.value %} selected {% endif %}>
      {{ option.description }}
    </option>
  {% endfor %}
{% endmacro %}

{% macro flasgMsg(type, msg) %}
<div class="container">
  <div class="alert alert-dismissible fade in alert-{{ type }} text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ msg }}
  </div>
</div>
{% endmacro %}

{% macro navBar(currentUser) %}
<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" title="Portales de Datos">
        <img src="/img/portalesdedatos.png" alt="Portales de Datos" class="img-responsive">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/">Ranking</a></li>
        <li><a href="/metodologia">Metodología</a></li>
        <li><a href="/capacitacion">Capacitación</a></li>
        <li><a href="/sugerir-portal">Sugerir portales</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if currentUser %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ currentUser.name }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/{{ currentUser._id }}">
              Perfil
            </a></li>
            <li><a href="/portals">
              Portales
            </a></li>
            {% if currentUser.role == 'admin' %}
            <li><a href="/users">
              Admin usuarios
            </a></li>
            <li><a href="/portals/new">
              Nuevo portal
            </a></li>
            <li role="separator" class="divider"></li>
            {% endif%}
            <li><a href="/users/logout">
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
              Salir
            </a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="/users/login">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
          Acceder
        </a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endmacro %}
