{% import './_partials.html' as partials %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <title>
    {% block title %}{% endblock %}
    Portales de Datos
  </title>
  <meta name="description" content="Todos los portales de datos abiertos de Argentina">
  <meta name="author" content="Conocimiento Abierto Argentina">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/css/normalize.css" >
  <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/tempStyle.css" >
</head>
<body>
  <a href="#maincontent" style="text-indent: -9000em; display: block; height: 0;">Saltar al contenido</a>

{{ partials.navBar(currentUser) }}
<!-- /navbar -->

{% block hero %}{% endblock %}
<!-- /hero -->

<main class="container" id="maincontent">
  {% if message.length > 0 %}
    {{ partials.flasgMsg(message[0], message[1]) }}
  {% endif %}
  {% block content %}{% endblock %}
</main><!-- /container -->

<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary ">
          <div class="panel-heading">
            Capacitaciones y consultorías
          </div>
          <div class="panel-body">

            <a href="/capacitacion"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
            <h3><a href="/capacitacion">Mejoremos los portales</a></h3>
            <p>
              La Fundación Conocimiento Abierto tiene un compromiso con la apertura de datos abiertos de calidad,
              desarrollando portales de datos y capacitaciones en organismos comprometidos con la transparencia.
              Si está interesado en mejorar su portal de datos, conozca nuestras opciones de <a href="/capacitacion">capacitación y consultoría</a>.
            </p>
          </div>

        </div>

      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Sume su portal
          </div>
          <div class="panel-body">
            <a href="/sugerir-portal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <h3><a href="/sugerir-portal">Agregar portales</a></h3>
            <p>
              Agregamos todos los portales de datos de gobierno que conocemos, si nos faltó alguno escuchamos tus <a href="/sugerir-portal">sugerencias</a>. Buscamos sitios web sobre datos abiertos, gobiernos abierto o transparencia que pertenezcan a alguna organización del estado y ofrezcan archivos para descargar.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Contáctenos
          </div>
          <div class="panel-body">
            <a href="/contacto"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
            <h3><a href="/contacto">Contacto y colaboración</a></h3>
            <p>
              Durante la etapa beta estamos recopilando feedback tanto sobre la metodología como sobre el sitio, estamos abiertos a sus comentarios. <a href="/contacto">Contáctenos</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="col-md-12">
      <h4 class="text-center">
        Un proyecto de Fundación Conocimiento Abierto
      </h4>
      <a2 href="https://fcabierto.org">
        <img src="/img/logo-ca.png" alt="Conocimiento Avierto Argentina" class="img-responsive center-block footer-logo">
      </a>
      <p class="text-center">
        Todos los contenidos se pueden reutilizar citando la fuente y compartiendo con las mismas condiciones CC-BY-SA 4.0
      </p>
    </div>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/main.js" charset="utf-8"></script>

{% block scripts %}{% endblock %}

</body>
</html>
