{% import './_partials.html' as partials %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}{% endblock %}
    Portales de Datos
  </title>
  <meta name="description" content="Todos los portales de datos abiertos de Argentina">
  <meta name="author" content="Conocimiento Abierto Argentina">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/css/normalize.css" >
  <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/tempStyle.css" >
</head>
<body>

{{ partials.navBar(currentUser) }}
<!-- /navbar -->

{% block hero %}{% endblock %}
<!-- /hero -->

<main class="container">
  {% if message.length > 0 %}
    {{ partials.flasgMsg(message[0], message[1]) }}
  {% endif %}
  {% block content %}{% endblock %}
</main><!-- /container -->

<footer class="footer">
  <div class="container">
    <div class="col-md-12">
      <h4 class="text-center">
        Un proyecto de Fundación Conocimiento Abierto
      </h4>
      <a2 href="https://fcabierto.org">
        <img src="/img/logo-ca.png" alt="Conocimiento Avierto Argentina" class="img-responsive center-block footer-logo">
      </a>
    </div>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/main.js" charset="utf-8"></script>

{% block scripts %}{% endblock %}

</body>
</html>
