{% extends "base.html" %}

{% block hero %}
<div class="jumbotron">
  <div class="container">
    <h1>Capacitación</h1>
    <p>
      Ayudamos a su equipo a mejorar la calidad de su portal de datos, o a iniciar uno si no lo tienen.
    </p>
  </div>
</div>
{% endblock %}

{% block content %}
<section>
  <div class="page-header">
    <h3>Programas</h3>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>Inicial Datos Abiertos</h4>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <dl>
        <dt>Dirigido a:</dt>
        <dd>Todos y todas</dd>
        <dt>Duración:</dt>
        <dd>100 años</dd>
        <dt>Profesores:</dt>
        <dd>Albert Einstein</dd>
      </dl>
      <a href="/contacto">Consultar</a>
    </div>
    <div class="col-md-4">
      <h4>Inicial Gobierno Abierto</h4>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <dl>
        <dt>Dirigido a:</dt>
        <dd>Quienes estan muy perdidos</dd>
        <dt>Duración:</dt>
        <dd>145987 segundos</dd>
        <dt>Profesores:</dt>
        <dd>Nicolás Copérnico</dd>
      </dl>
      <a href="/contacto">Consultar</a>
    </div>
    <div class="col-md-4">
      <h4>Personalizado</h4>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <dl>
        <dt>Dirigido a:</dt>
        <dd>El que quiera</dd>
        <dt>Duración:</dt>
        <dd>y... depende, es personalizado</dd>
        <dt>Profesores:</dt>
        <dd>Nikola Tesla</dd>
      </dl>
      <a href="/contacto">Consultar</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>Servicio de consultorías</h4>
      <p>
        Ofrecemos consultoría personalizada, por favor <a href="/contacto">consúltenos</a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
