{% extends "base.html" %}

{% block title %}Capacitación | {% endblock %}

{% block hero %}
<div class="jumbotron">
  <div class="container">
    <h1>Capacitación</h1>
    <p>
      Ayudamos a su equipo a mejorar la calidad de su portal de datos, o a iniciar uno si no lo tienen.
    </p>
  </div>
  <img src="/img/capacitaciones.jpg" style="width: 100%" alt="Fotos de talleres brindados por la Fundación Conocimeinto Abierto" />
</div>
{% endblock %}

{% block content %}
<section>
  <div class="panel panel-primary"  style="margin-top: -6em; position: relative">
    <div class="panel-heading">
        <h3>Programas de capacitación</h3>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="col-md-4">
          <h4>Taller de gobierno abierto</h4>
          <p class="text-justify">
            Introducción a los pilares de transparencia, participación, colaboración e innovación. Orientado a quienes no han tenido relación con el concepto, inspira con buenas prácticas y casos de éxito. Incluye actividades grupales que facilitan elaborar e incorporar los contenidos.
          </p>
          <dl>
            <dt>Dirigido a:</dt>
            <dd>Funcionarios y trabajadores del estado.</dd>
            <dt>Duración:</dt>
            <dd>2 jornadas de 4 horas</dd>
          </dl>
          <a class="btn btn-primary" href="/contacto">Consultar</a>
        </div>
        <div class="col-md-4">
          <h4>Bootcamp de datos abiertos</h4>
          <p class="text-justify">
            Intensivo de publicación y consumo de datos, herramientas de análisis y visualización. Incorporar conocimientos prácticos sobre trabajo con formatos de datos abiertos, utilizar portales de datos, licenciamiento y cómo contar historias con datos.
          </p>
          <dl>
            <dt>Dirigido a:</dt>
            <dd>Responsables de portales de datos, comunicadores.</dd>
            <dt>Duración:</dt>
            <dd>3 jornadas de 4 horas</dd>
          </dl>
          <a class="btn btn-primary" href="/contacto">Consultar</a>
        </div>
        <div class="col-md-4">
          <h4>Políticas públicas basadas en datos</h4>
          <p class="text-justify">
            Los beneficios de la utilización de datos para la toma de decisiones, y los instrumentos legales para facilitar la apertura. Se verán ejemplos de leyes de acceso a la información pública, apertura de datos y sus beneficios para los tomadores de decisiones.
          </p>
          <dl>
            <dt>Dirigido a:</dt>
            <dd>Funcionarios, legisladores, concejales y asesores.</dd>
            <dt>Duración:</dt>
            <dd>4 horas</dd>
          </dl>
          <a class="btn btn-primary" href="/contacto">Consultar</a>
        </div>
      </div>
    </div>

  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Servicios personalizados</h3>
        </div>
        <div class="panel-body">
          <p>
            Nos ofrecemos como colaboradores para proyectos especiales con gobiernos y organizaciones comprometidas con los procesos de apertura. Por ejemplo, hemos realizamos desarrollo de visualizaciones, portales de datos, procesos de liberación de datos, así como programas de capacitación o coaching personalizados para empleados y funcionarios. Para más información revise el sitio web de <a href="https://www.fcabierto.org">Fundación Conocimiento Abierto</a>.
          </p>
          <a class="btn btn-primary" href="/contacto">Contáctenos</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
