{% extends "base.html" %}

{% block hero %}
<div class="jumbotron jumbotron-home">
  <div class="background-blur">
    <div class="container">
      <h1>Portales de Datos</h1>
      <p>
        Los portales de datos abiertos son donde los gobiernos publican información reutilizable para que analistas, periodistas, organizaciones y ciudadanos estén mejor informados.
      </p>
      <p>
        Evaluamos la calidad de los datos y metadatos publicados para facilitar la reutilización.
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<section id="ranking">
  <div class="row">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="text-center">Posición</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Evaluación manual
            <a id="popover-calidad" href="#" data-toggle="popover" data-trigger="focus" data-placement="top" title="Nivel de Calidad" data-content="En algunos casos se evaluaron manualmente criterios adicionales. Ver <a href='/metodologia'>metodología</a>">(?)</a>
          </th>
          <th class="text-center">
            Puntaje
            <a id="popover-calidad" href="#" data-toggle="popover" data-trigger="focus" data-placement="top" title="Nivel de Calidad" data-content="Se evalúan varios criterios sobre cada conjunto de datos. Ver <a href='/metodologia'>metodología</a>">(?)</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td>1 <span class="glyphicon glyphicon-menu-up text-success" title="Subió desde posición 2"></span></td>
          <td>Corte Suprema de Justicia</td>
          <td>Si</td>
          <td>100%</td>
        </tr>
        <tr class="text-center">
          <td>2 <span class="equal-sign text-default" title="Mantiene posición">=</span></td>
          <td>Ministerio de Modernización</td>
          <td>No</td>
          <td>100%</td>
        </tr>
        <tr class="text-center">
          <td>3 <span class="glyphicon glyphicon-menu-up text-success"  title="Subió desde posición 4"></span></td>
          <td>Municipalidad de Córdoba</td>
          <td>Si</td>
          <td>70%</td>
        </tr>
        <tr class="text-center">
          <td>4 <span class="glyphicon glyphicon-menu-up text-success"  title="Subió desde posición 5"></span></td>
          <td>Ciudad de Mendoza</td>
          <td>Si</td>
          <td>90%</td>
        </tr>
        <tr class="text-center">
          <td>5 <span class="glyphicon glyphicon-menu-down text-danger"  title="Bajó desde posición 3"></span></td>
          <td>Gobierno de Jujuy</td>
          <td>No</td>
          <td>100%</td>
        </tr>
      </tbody>
    </table>
    <div class="row center-block">
      <div class="col-md-3 col-md-offset-3 hidden-xs hidden-sm">
        <a href="/ranking" class="btn btn-info btn-block text-center">Ver ranking completo</a>
      </div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <a href="/sugerir-portal" class="btn btn-warning btn-block text-center">Sugerir portal</a>
      </div>
      <div class="row visible-xs-inline visible-sm-inline">
        <div class="col-sm-12">
          <a href="/ranking" class="btn btn-info btn-block text-center">Ver ranking completo</a>
        </div>
      </div>
      <div class="row visible-xs-inline visible-sm-inline">
        <div class="col-sm-12">
          <a href="/sugerir-portal" class="btn btn-warning btn-block text-center">Sugerir portal</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
</section>
{% endblock %}
