{% extends "base.html" %}

{% block hero %}
<div class="jumbotron">
  <div class="container">
    <h1>Metodología</h1>
    <p>
      Durante los últimos años hay una explosión de portales de datos abiertos en argentina, pero algunos de estos varían en grado de calidad. Para promover buenas prácticas y destacar los portales de mayor calidad en el país, incluyendo portales de ciudades, provincias, ministerios y otras instituciones.
    </p>
    <p>
      Un portal de datos debe ofrecer datos de calidad, confiables y facilitar la reutilización, para poder evaluarlos definimos los siguientes criterios, algunos son de evaluación automática y otros de evaluación manual. Algunos cubren el portal en general y otros se calculan por conjunto de datos.
    </p>
  </div>
</div>
{% endblock %}

{% block content %}
<section>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">Criterios por portal</div>
        <div class="panel-body">
          <p>
            Estos criterios aplican a todo el portal en general
          </p>
          <div class="row">
            <div class="col-md-12">
              <h3>Criterios de facilidad de uso del portal</h3>
              <div class="panel-group" id="accordion-criterio-portal" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-portal-1">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion-criterio-portal" href="#criterio-portal-1" aria-expanded="false" aria-controls="criterio-portal-1">
                        Uso de identidad oficial
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-portal-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-portal-1">
                    <div class="panel-body">
                      <p>
                        La entidad responsable del sitio web debe ser fácil de identificar, es necesario utilizar logo o isotipo de la entidad (municipio, ministerio, institución) en todas las páginas.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-portal-2">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-criterio-portal" href="#criterio-portal-2" aria-expanded="false" aria-controls="criterio-portal-2">
                        Enlace al sitio oficial de la entidad
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-portal-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-portal-2">
                    <div class="panel-body">
                      <p>
                        La entidad responsable del sitio web debe ser fácil de acceder, es necesario colocar un enlace al sitio web de la entidad (municipio, ministerio, institución) en todas las páginas.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-portal-3">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-criterio-portal" href="#criterio-portal-3" aria-expanded="false" aria-controls="criterio-portal-3">
                        Explicación de datos abiertos
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-portal-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-portal-3">
                    <div class="panel-body">
                      <p>
                        Para muchos ciudadanos, el concepto de datos abiertos es novedoso, y por eso es necesario incluir una descripción de este concepto en la portada y/o página dedicada.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-portal-4">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-criterio-portal" href="#criterio-portal-4" aria-expanded="false" aria-controls="criterio-portal-4">
                        Enlace a todos los conjuntos de datos
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-portal-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-portal-4">
                    <div class="panel-body">
                      <p>
                        El listado completo de todos los conjuntos de datos debe poder ser accesible.
                      </p>
                      <p>
                        Enlace a todos los conjuntos de datos en portada
                      </p>
                      <p>
                        El listado completo de todos los conjuntos de datos debe poder ser accesible desde la portada.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-portal-5">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-criterio-portal" href="#criterio-portal-5" aria-expanded="false" aria-controls="criterio-portal-5">
                        Sistema de búsqueda de conjunto de datos
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-portal-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-portal-5">
                    <div class="panel-body">
                      <p>
                        Debe ser fácil de encontrar un conjunto de datos mediante el sistema de búsqueda.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-portal-6">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-criterio-portal" href="#criterio-portal-6" aria-expanded="false" aria-controls="criterio-portal-6">
                        Examinator.ws (automático)
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-portal-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-portal-6">
                    <div class="panel-body">
                      <p>
                        El sitio web debe ser accesible, se utilizará la tecnología de examinator para realizar una evaluación automatizada (parcial) del cumplimiento con las normativas WAI-WCAG2.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>Criterios de facilidad de uso de los datos</h3>
              <div class="panel-group" id="accordion-criterio-uso-datos" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-uso-datos-1">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion-criterio-uso-datos" href="#uso-datos-1" aria-expanded="false" aria-controls="uso-datos-1">
                        Existencia de API
                      </a>
                    </h4>
                  </div>
                  <div id="uso-datos-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-uso-datos-1">
                    <div class="panel-body">
                      <p>
                        Para facilitar el acceso automatizado a los conjuntos de datos se requiere una interfaz especial para que los sistemas accedan a los datos.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-uso-datos-2">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-criterio-uso-datos" href="#uso-datos-2" aria-expanded="false" aria-controls="uso-datos-2">
                        Documentación de API
                      </a>
                    </h4>
                  </div>
                  <div id="uso-datos-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-uso-datos-2">
                    <div class="panel-body">
                      <p>
                        Para que los desarrolladores de software puedan fácilmente desarrollar sistemas que consuman datos del portal de datos, es necesario un documento que detalle el funcionamiento de la API.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">Criterios por conjunto de datos</div>
        <div class="panel-body">
          <p>
            Estos criterios aplican a cada conjunto de datos y sus recursos
          </p>
          <div class="row">
            <div class="col-md-12">
              <h3>Criterios de facilidad de uso de los datos</h3>
              <div class="panel-group" id="accordion-criterio-uso-datos" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-uso-datos-1">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion-criterio-uso-datos" href="#criterio-uso-datos-1" aria-expanded="false" aria-controls="criterio-uso-datos-1">
                        Explicación de los datasets (automático - manual)
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-uso-datos-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-uso-datos-1">
                    <div class="panel-body">
                      <p>
                        Cada conjunto de datos debe tener una descripción que explique el contenido de los campos, acrónimos, abreviaciones y cualquier otra aclaración necesaria para comprender el sentido de los datos y facilitar su reutilización.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>Criterios de calidad de metadatos</h3>
              <div class="panel-group" id="accordion-criterio-metadatos" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-metadatos-1">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion-criterio-metadatos" href="#criterio-metadatos-1" aria-expanded="false" aria-controls="criterio-metadatos-1">
                        Responsable (automático)
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-metadatos-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-metadatos-1">
                    <div class="panel-body">
                      <p>
                        Los metadatos del conjunto de datos deben expresar un responsable para los mismos, esto incrementa la confiabilidad y facilita la retroalimentación.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-metadatos-2">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-criterio-metadatos" href="#criterio-metadatos-2" aria-expanded="false" aria-controls="criterio-metadatos-2">
                        Frecuencia de actualización declarada (automático)
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-metadatos-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-metadatos-2">
                    <div class="panel-body">
                      <p>
                        Los metadatos del conjunto de datos deben definir una expectativa para la actualización de los datos.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-metadatos-3">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-criterio-metadatos" href="#criterio-metadatos-3" aria-expanded="false" aria-controls="criterio-metadatos-3">
                        Frecuencia de actualización efectiva (automático)
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-metadatos-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-metadatos-3">
                    <div class="panel-body">
                      <p>
                        El tiempo transcurrido desde la última fecha de actualización no debe ser superior a la frecuencia de actualización declarado.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-metadatos-4">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-criterio-metadatos" href="#criterio-metadatos-4" aria-expanded="false" aria-controls="criterio-metadatos-4">
                        Licencia (automático)
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-metadatos-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-metadatos-4">
                    <div class="panel-body">
                      <p>
                        Los metadatos del conjunto de datos deben expresar los términos en los que este se comparte, habilitando el uso para cualquier fin y requiriendo, como máximo, la atribución.
                      </p>
                      <p>
                        Ver <a href="#">listado de licencias libres</a>.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-metadatos-5">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-criterio-metadatos" href="#criterio-metadatos-5" aria-expanded="false" aria-controls="criterio-metadatos-5">
                        Formato (automático)
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-metadatos-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-metadatos-5">
                    <div class="panel-body">
                      <p>
                        La extensión de archivo del recurso principal del conjunto de datos debe ser la de un formato cuya interpretación o reproducción no esté limitada por patentes o regalías.
                      </p>
                      <p>
                        Ver <a href="#">listado de formatos libres.</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Criterios de calidad de datos</h3>
              <div class="panel-group" id="accordion-criterio-calidad-datos" role="tablist" aria-multiselectable="false">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="encabezado-criterio-calidad-datos-1">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion-criterio-calidad-datos" href="#criterio-calidad-datos-1" aria-expanded="false" aria-controls="criterio-calidad-datos-1">
                        Validez
                      </a>
                    </h4>
                  </div>
                  <div id="criterio-calidad-datos-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="encabezado-criterio-calidad-datos-1">
                    <div class="panel-body">
                      <p>
                        Cuando sea posibile, los recursos principales de cada conjunto de datos serán evaluados en su adherencia a los requisitos del formato, lo que facilita su reutilización.
                      </p>
                      <ul>
                        <li>Formatos validados</li>
                        <li>CSV</li>
                        <li>JSON</li>
                        <li>XML</li>
                        <li>KML</li>
                        <li>GeoJSON</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
