{% extends "base.html" %}

{% block title %}Metodología | {% endblock %}

{% block hero %}
<div class="jumbotron">
  <div class="container">
    <h1>Metodología</h1>
    <p>
      Este ranking se hace necesario porque durante los últimos años hay una explosión de portales de datos abiertos en Argentina, que los gobiernos utilizan para transparentar su gestión. Publican datos desagregados que registran el accionar del estado, utilizando licencias y formatos abiertos que facilitan la reutilización.
    </p>
    <p>
      Para promover buenas prácticas y destacar los portales de mayor calidad en el país, incluímos portales de ciudades, provincias, ministerios y otras instituciones públicas.
    </p>
  </div>
</div>
{% endblock %}

{% block content %}
<section>
  <div class="row">

    <div class="panel panel-info">
      <div class="panel-body" style="font-size: 1.5em; background-color: #eff">
        <p>
          Un portal de datos debe ofrecer datos de calidad, confiables y que sean fácilmente reutilizables. </p>
          <p>Para poder evaluar si lo logran, definimos los siguientes criterios. Hay criterios de evaluación automática y otros de evaluación manual,  algunos cubren el portal en general y otros se calculan por cada conjunto de datos y los recursos que este contiene.
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">Criterios por portal</div>
        <div class="panel-body">
          <p>
            Estos criterios aplican a todo el portal en general. El valor de cada criterio promedia para crear el puntaje parcial para cada grupo de criterios.
          </p>
          <h3>Criterios de facilidad de navegación del portal</h3>
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-portal-1">
                <h4 class="panel-title">
                    Uso de identidad oficial (manual)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-text-background" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Para aumentar la confiabilidad de la información publicada, la entidad responsable del portal debe ser fácil de identificar, es necesario utilizar logo o isotipo de la entidad (municipio, ministerio, institución) en todas las páginas.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-portal-2">
                <h4 class="panel-title">
                  Enlace al sitio oficial de la entidad (manual)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-link" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Para facilitar la verificación de la relación del portal con la entidad, el sitio web de la entidad responsable del portal debe ser fácil de acceder. Es necesario colocar un enlace al sitio web de la entidad (municipio, ministerio, institución) en todas las páginas.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-portal-3">
                <h4 class="panel-title">
                  Explicación de datos abiertos (manual)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-book" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Para muchos ciudadanos, el concepto de datos abiertos es novedoso, y por eso es necesario incluir una descripción de este concepto en la portada, o alternativamente en una página dedicada. El texto debe tener más de 20 palabras, mencionar algunos de los beneficios de los datos abiertos.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-portal-4">
                <h4 class="panel-title">
                  Enlace a todos los conjuntos de datos (manual)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Para facilitar la comprensión de todo el contenido del portal, el listado completo de todos los conjuntos de datos debe poder ser accedido. Esto es para evitar listas por categoría que pueden resultar incompletas.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div>
            <!-- <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-portal-4.1">
                <h4 class="panel-title">
                  Enlace a todos los conjuntos de datos en portada (manual)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-expand" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Para faciliar la comprensión de todo el contenido del portal desde la primera visita, el enlace a todos los conjuntos de datos debe poder ser accesible desde la portada.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div> -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-portal-5">
                <h4 class="panel-title">
                  Sistema de búsqueda de conjunto de datos (manual)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-search" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Para facilitar la búsqueda de conjuntos de datos y recursos en el portal, debe existir un sistema de búsqueda que permita utilizar nombres, etiquetas y contenido para encontrar conjuntos de datos y devolver resultados relevantes.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div>
            <!-- <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-portal-6">
                <h4 class="panel-title">
                  Accesibilidad web (automático)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Para garantizar que el sitio puede ser precibido, operado y comprendido por la mayor diversidad de usuarios y dispositivos, el sitio web debe ser accesible, se utilizará la tecnología de Examinator.ws para realizar una evaluación automatizada (parcial) del cumplimiento con las normativas WAI-WCAG2, cuyo cumplimiento es exigido por la ley nacional 26.653.
                </p>
              </div>
              <div class="panel-footer">
                Valores: entre 0 y 1, según la metodología de Examinator.ws.
              </div>
            </div> -->
            <h3>Criterios de facilidad de uso automatizado de los datos</h3>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-uso-datos-1">
                <h4 class="panel-title">
                  Existencia de API (manual)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Para facilitar el acceso automatizado a los conjuntos de datos se requiere una interfaz especial para que los sistemas accedan a los datos. El portal debe tener una API REST. La API puede requerir el uso de un Token, siempre y cuando no sea necesario registrarse para obtenerlo.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-uso-datos-2">
                <h4 class="panel-title">
                  Documentación de API (manual)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-cloud" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <span class="glyphicon glyphicon-book" aria-hidden="true" style="float: right; font-size: 2em; position: relative; top: 1.1em; left: 3.1em; color: #fff"></span>
                <p>
                  Para que los desarrolladores de software puedan fácilmente desarrollar sistemas que consuman datos del portal, es necesario un documento que detalle el funcionamiento de la API REST.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">Criterios por conjunto de datos</div>
            <div class="panel-body">
            <p>
              Estos criterios aplican a cada conjunto de datos y sus recursos, y sus valores son promediados para calcular el puntaje general del portal.
            </p>
            <h3>Criterios de calidad de metadatos</h3>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-uso-datos-1">
                <h4 class="panel-title">
                  Explicación de los datasets (automática)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-tags" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Cada conjunto de datos debe tener una descripción que explique el contenido de los campos, acrónimos, abreviaciones y cualquier otra aclaración necesaria para comprender el sentido de los datos y facilitar su reutilización.
                </p>
                <p>
                  La descripción debe estar presente como campo de metadatos y tener una longitud superior a los 150 caracteres.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-metadatos-1">
                <h4 class="panel-title">
                  Responsable (automático)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-user" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Los metadatos del conjunto de datos deben expresar quién es el responsable del mismo, esto incrementa la confiabilidad y facilita la retroalimentación.
                </p>
                <p>
                  La dirección de correo electrónico del responsable debe estar publicada.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si incluye email, 0.5 si está presente, 0 si no está presente.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-metadatos-2">
                <h4 class="panel-title">
                  Frecuencia de actualización declarada (automático)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Una expectativa para la actualización de los datos debe estar definida en metadatos del conjunto de datos, esto aumenta la confiabilidad y permite planificar análisis periódicos.
                </p>
                <p>
                  La frecuencia de actualización no debe decir "a demanda", "eventual" o ser inespecífica en algún otro sentido.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-metadatos-3">
                <h4 class="panel-title">
                  Frecuencia de actualización efectiva (automático)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  El tiempo transcurrido desde la última fecha de actualización no debe ser superior a la frecuencia de actualización declarado. Los datos actualizados permiten realizar análisis con información más reciente.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-metadatos-4">
                <h4 class="panel-title">
                  Licencia (automático)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Los términos de la licencia con la que se comparte un dataset deben estar expresados en los metadatos de cada conjunto de datos. La licencia debe habilitar el uso para cualquier fin y requiriendo, como máximo, la atribución. Esto evita dudas sobre la necesidad de pedir autorización para la reutilización.
                </p>
                <p>
                  Ver <a href="#">listado de licencias libres (en construcción)</a>.
                </p>
                <p>
                  Para sugerir otras licencias, <a href="/contacto">Contáctenos</a>.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-metadatos-5">
                <h4 class="panel-title">
                  Formato (automático)
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-object-align-right" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  El conjunto de datos debe contener al menos un recurso cuya extensión de archivo corresponda con la de un formato abierto. Los formatos abiertos son aquellos cuya interpretación o reproducción no está limitada por patentes o regalías. Esto elimina barreras para la reutilización.
                </p>
                <p>
                  Ver <a href="#">listado de formatos abiertos (en construcción).</a>
                </p>
                <p>
                  Para sugerir otros formatos, <a href="/contacto">Contáctenos</a>.
                </p>

              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div>
            <h3>Criterios de calidad de datos</h3>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="encabezado-criterio-calidad-datos-1">
                <h4 class="panel-title">
                  Validez
                </h4>
              </div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="float: right; font-size: 8em; margin-left: 0.2em"></span>
                <p>
                  Los recursos de cada conjunto de datos que puedan ser validados serán evaluados en su adherencia a los requisitos del formato, lo que facilita su reutilización.
                </p>
                <p>
                  Para cada uno de los formatos validados se utiliza una herramienta diferente:
                </p>
                <ul>
                  <li>CSV: <a href="http://goodtables.okfnlabs.org/">Goodtables</a></li>
                  <li>JSON: JSON Lint (no implementado)</li>
                  <li>XML: (no implementado)</li>
                  <li>KML: (no implementado)</li>
                  <li>GeoJSON: (no implementado)</li>
                </ul>
                <p>
                  Para sugerir otros formatos o validadores, <a href="/contacto">Contáctenos</a>.
                </p>
              </div>
              <div class="panel-footer">
                Valores: 1 si cumple, 0 si no cumple.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h2>
        Historial de versiones
      </h2>
      <p>
        La metodología de evaluación fue creada durante el año 2016 por la Fundación Conocimiento Abierto, basado en la metodología del Open Data Index, criterios de usabilidad y nuestra propia experiencia en uso y publicación de portales de datos.
      </p>
      <p>
        Sin embargo esta está en actualización y revisión constante.
      </p>
      <ul>
        <li>Versión 0.1: 09/02/2017 - Versión inicial basada en metodología OpenDataIndex y criterios de usabilidad.</li>
      </ul>
      <p>
        Por consultas sobre nuestra metodología, por favor <a href="/contacto">contáctese</a>. Adicionalmente, durante el período de versión beta, alentamos a enviar sugerencias de mejoras.
      </p>
      <!-- <h2>
        Código fuente
      </h2>
      <p>
        Si bien la metodología narrada coincide exactamente con la implementada en código, para facilitar el análisis a las personas más técnicas, dejamos aquí un enlace a la versión de producción del código fuente de la implementación del sistema de evaluación.
      </p>
      <p>
        <a href="#">evaluacion.js en github</a>
      </p> -->
    </div>
  </div>
</section>
{% endblock %}
