{% extends "base.html" %}

{% block title %}Sugerir Portal | {% endblock %}

{% block hero %}
<div class="jumbotron">
  <div class="container">
    <h1>Sugerir portales</h1>
    <p>
      Constantemente están apareciendo nuevos portales de datos en el país, si usted conoce alguno que no se encuentra en el listado, por favor rellene este formulario.
    </p>
  </div>
</div>
{% endblock %}

{% block content %}
<section>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form method="post" action="/sugerir-portal" {% if (formErr.name) %} class="has-error" {% endif %}>
        <input type="hidden" name="_csrf" value="{{_csrf}}">
        <div class="form-group">
          <label for="name">Nombre <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="name" name="name" required autofocus>
          {% if formErr.name %}
            <span class="help-block">{{ formErr.name.msg }}</span>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="url">URL del portal <span class="text-danger">*</span></label>
          <input type="url" class="form-control" id="url" name="url">
          {% if formErr.url %}
            <span class="help-block">{{ formErr.url.msg }}</span>
          {% endif %}
        </div>
        <div class="form-group">
          <h4>Utiliza la expresión datos abiertos <span class="text-danger">*</span></h4>
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="exp-datos-abiertos" id="exp-datos-abiertos1" value="si" checked>
              si
            </label>
            <label class="radio-inline">
              <input type="radio" name="exp-datos-abiertos" id="exp-datos-abiertos2" value="no">
              no
            </label>
          </div>
          {% if formErr.exp-datos-abiertos %}
          <span class="help-block">{{ formErr.exp-datos-abiertos.msg }}</span>
          {% endif %}
        </div>
        <div class="form-group">
          <h4>Utiliza la expresión gobierno abierto <span class="text-danger">*</span></h4>
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="exp-gob-abiertos" id="exp-gob-abiertos1" value="si" checked>
              si
            </label>
            <label class="radio-inline">
              <input type="radio" name="exp-gob-abiertos" id="exp-gob-abiertos2" value="no">
              no
            </label>
          </div>
          {% if formErr.exp-gob-abiertos %}
            <span class="help-block">{{ formErr.exp-gob-abiertos.msg }}</span>
          {% endif %}
        </div>
        <div class="form-group">
          <h4>Utiliza la expresión transparencia <span class="text-danger">*</span></h4>
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="exp-transparencia" id="exp-transparencia1" value="si" checked>
              si
            </label>
            <label class="radio-inline">
              <input type="radio" name="exp-transparencia" id="exp-transparencia2" value="no">
              no
            </label>
          </div>
          {% if formErr.exp-transparencia %}
            <span class="help-block">{{ formErr.exp-transparencia.msg }}</span>
          {% endif %}
        </div>
        <div class="form-group">
          <h4>Ofrece archivos para descargar <span class="text-danger">*</span></h4>
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="ofrece-descarga" id="ofrece-descarga1" value="si" checked>
              si
            </label>
            <label class="radio-inline">
              <input type="radio" name="ofrece-descarga" id="ofrece-descarga2" value="no">
              no
            </label>
          </div>
          {% if formErr.ofrece-descarga %}
            <span class="help-block">{{ formErr.ofrece-descarga.msg }}</span>
          {% endif %}
        </div>
        <p class="help-block">
          <span class="text-danger">*</span> Requerido
        </p>
        <button type="submit" class="btn btn-success btn-lg btn-block">Sugerir</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
