{% extends "base.html" %}
{% import './_snippets.html' as snippets %}

{% block title %}Nuevo portal de datos | {% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      Ingresá un nuevo Portal de Datos
    </h1>
  </div>

  <section class="row">
    <div class="col-md-6 col-md-offset-3">
      <form method="post" action="/portals">
        <input type="hidden" name="_csrf" value="{{_csrf}}">
        {{ snippets.portalForm() }}
        <button type="submit" class="btn btn-success btn-lg btn-block">Agregar portal</button>
      </form>
    </div>
  </section>
{% endblock %}
