{% extends "base.html" %}

{% block title %}
  {{portal.title}} |
{% endblock %}

{% block hero %}
  <div class="jumbotron">
    <div class="container">

      <h1>
        {{portal.title}}
        {% if (currentUser.role === 'admin' or  currentUser.role === 'evaluator') and portal.to_evaluate === true %}
          <a class="btn btn-warning pull-right" href="/portals/evaluation/{{portal.slug}}" role="button">Evaluar <i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
        {% endif %}
      </h1>
      <img style="float: left; margin: 0 2em 2em 0 " src="http://api.page2images.com/directlink?p2i_url={{ portal.url }}&p2i_key=97c6f2d45d7ab41d&p2i_size=250x350" alt="Captura de pantalla del portal web" />
      <p style="font-size: 1.2em">Portal de datos CKAN</p>
      <p>
        {{ portal.description }}
      </p>
      <p>
        <a href="{{ portal.url }}" style="text-decoration: underline; color:white">{{ portal.url }}</a>
      </p>
      <ul style="clear: both;" class="row">
        <li class="counter col-lg-2 col-md-4 col-sm-12 col-lg-offset-2 col-md-offset-0">
          <span class="value">1</span>
          <span class="label">Posición</span>
        </li>
        <li class="counter col-lg-3 col-md-4 col-sm-12">
          <span class="value">{{evaluation[0].total_score * 100}}%</span>
          <span class="label">Puntaje</span>
        </li>
        <li class="counter col-lg-3 col-md-4 col-sm-12">
          <span class="value">{{evaluation[0].datasets.length}}</span>
          <span class="label">Conjuntos de datos</span>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
{% block content %}

  <div class="row" >
    <section class="line-chart col-md-12" >
      <h2>Historial de puntajes</h2>
      <canvas id="lineChart"  style="width: 100%; height: 300px;"></canvas>
      <script src="/js/Chart.min.js"></script>
      <script type="text/javascript">
        var ctx = document.getElementById("lineChart");
        var myChart = new Chart(ctx, {
          type: "line",
          data: {
            labels: ["10/02/2017", "17/02/2017", "24/02/2017"],
            datasets: [
              {
                label: "Puntaje total",
                data: [65, 59, {{evaluation[0].total_score*100}}],
                borderColor: "rgba(80,80,80,1)",
                backgroundColor: "rgba(80,80,80,1)",
                fill: false,
                borderWidth: 5
              },
              {
                label: "Navegación",
                data: [69, 49, 90],
                borderColor: "#5074D2",
                backgroundColor: "#5074D2",
                fill: false,
                borderWidth: 2
              },
              {
                label: "Uso automático",
                data: [12, 15, 15],
                borderColor: "#45BFA5",
                backgroundColor: "#45BFA5",
                fill: false,
                borderWidth: 2
              },
              {
                label: "Metadatos",
                data: [50, 80, 95],
                borderColor: "#BFBD3B",
                backgroundColor: "#BFBD3B",
                fill: false,
                borderWidth: 2
              },
              {
                label: "Datos",
                data: [69, 49, 10],
                borderColor: "#BF6E42",
                backgroundColor: "#BF6E42",
                fill: false,
                borderWidth: 2
              }

            ]
          }
        })


      </script>
    </section>
  </div>
  <div class="row">
    <div class="col-md-12">

      <h2>Evaluación por criterios</h2>
      Puntajes resumidos para cada uno de los criterios evaluados.

      <table class="score_summary">
        <thead>
          <tr>
            <th style="width: 30%">
              Criterio
            </th>
            <th>
              Puntaje
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="criteria_name">
              Puntaje total
            </td>
            <td>
              <div style="background-color: rgba(80,80,80,1); width: {{evaluation[0].total_score*100}}%">{{evaluation[0].total_score*100}}%</div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="criteria_description">
                El puntaje total es un promedio de los puntajes de los cuatro criterios.
              </p>
            </td>
          </tr>
          <tr>
            <td class="criteria_name">
              Navegación
            </td>
            <td>
              <div style="background-color: #5074D2; width: 90%">90%</div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="criteria_description">
                Este criterio evalúa la facilidad de navegación del portal de datos, la confiabildiad, claridad y usabilidad del acceso y búsqueda de conjuntos de datos. Su evaluacón es manual, excepto por la prueba automatizada de accesbilidad web.
              </p>
            </td>
          </tr>
          <tr>
            <td class="criteria_name">
              Uso automático
            </td>
            <td>
              <div style="background-color: #45BFA5; width: 80%">80%</div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="criteria_description">
                Este criterio evalúa las facilidades para el consumo automático de los datos presentes en el portal de datos, la existencia de una API y su documentación.
              </p>
            </td>
          </tr>
          <tr>
            <td class="criteria_name">
              Metadatos
            </td>
            <td>
              <div style="background-color: #BFBD3B; width: 100%">100%</div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="criteria_description">
                Este criterio es un promedio de la evaluación de los metadatos de cada uno de los conjuntos de datos. Se verifica automáticamente la inclusión de responsable, frecuencia de actualización, licencia abierta y formatos abiertos.
              </p>
            </td>
          </tr>
          <tr>
            <td class="criteria_name">
              Datos
            </td>
            <td>
              <div style="background-color: #BF6E42; width: 70%">70%</div>
              <!-- violetaa 9A63B6 -->
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="criteria_description">
                Este criterio se basa solamente en la evaluación automatizada de la calidad de los datos. Actualmente sólo evalúa archivos de tipo CSV en su corrección formal y no en su contenido.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        Última actualización de puntaje: 22/02/2017
      </p>
    </div>
  </div>
  <div class="row">
    <h2>Detalles</h2>
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">Informe detallado por conjunto de datos</div>

        <div class="panel-body">
          {% if currentUser.role != 'admin' and currentUser.role != 'evaluator' %}
          <p>
            Mejore su posición en el ranking solicitando un informe detallado de errores en este portal.
          </p>
          <p>
            Incluye:
          </p>
          <ul>
            <li>Informe de errores en cada recurso y dataset. Sepa exactamente qué hacer para mejorar.</li>
            <li>Informe de evaluación manual del portal. Evaluaremos todos los criterios manuales en este portal, para que mejore la facilidad de uso y acceso.</li>
            <li>Capacitación (opcional)</li>
            <li>Consultoría (opcional)</li>
          </ul>
          <p>
            <button type="button" class="btn btn-lg btn-info" name="button">Solcitar informe deallado</button>
            <a href="#">Ver ejemplo</a>
          </p>
          {% else %}
          <table class="resources-table">
            <thead>
              <tr>
                <th class="resource-name">
                  Recurso
                </th>
                <th>
                  Formato
                </th>
                <th>
                  Evaluable
                </th>
                <th>
                  Válido
                </th>
                <th>
                  Errores
                </th>
                <th>
                  Fuente
                </th>
              </tr>
            </thead>
            <tbody>
              {% for dataset in evaluation[0].datasets %}
                {% for resource in dataset.resources %}
                <tr>
                  <td class="resource-name">
                    {{resource.name}}

                  </td>
                  <td class="resource-ok">
                    {{resource.format}}
                  </td>
                  <td class="resource-ok">
                    {{resource.name}}
                  </td>
                  <td class="resource-error">
                    {{resource.valid}}
                  </td>
                  <td class="resource-error">
                    {{resource.errors}}
                    <a href="http://goodtables.okfnlabs.org/reports?data_url={{resource.url}}">
                      Ver detalles
                    </a>
                  </td>
                  <td>
                    <a href="{{resource.url}}">Ver original</a>
                  </td>
                </tr>
                {%endfor%}
              {%endfor%}
              <tr>
                <td class="resource-name">
                  Listado de víctimas del accionar represivo ilegal sin denuncia formal

                </td>
                <td class="resource-error">
                  PDF
                </td>
                <td class="resource-error">
                  No
                </td>
                <td class="resource-error">

                </td>
                <td class="resource-error">
                </td>
                <td>
                  <a href="#">Ver original</a>
                </td>
              </tr>
              <tr>
                <td class="resource-name">
                  Listado de víctimas del accionar represivo ilegal sin denuncia formal

                </td>
                <td class="resource-ok">
                  CSV
                </td>
                <td class="resource-ok">
                  Si
                </td>
                <td class="resource-ok">
                  Si
                </td>
                <td class="resource-ok">
                  0
                  <a href="http://goodtables.okfnlabs.org/reports?data_url=https://data.wprdc.org/dataset/5934b8d1-892f-4fd7-84c1-aa890d3ff529/resource/a61b6617-2f06-4745-8731-165139d41667/download/opendata-pubworks---field-listing-22015.csv&format=csv&encoding=&schema_url=">
                    Ver detalle
                  </a>
                </td>
                <td>
                  <a href="#">Ver original</a>
                </td>
              </tr>
              <tr>
                <td class="resource-name">
                  Listado de víctimas del accionar represivo ilegal sin denuncia formal

                </td>
                <td class="resource-ok">
                  CSV
                </td>
                <td class="resource-ok">
                  Si
                </td>
                <td class="resource-error">
                  No
                </td>
                <td class="resource-error">
                  10
                  <a href="http://goodtables.okfnlabs.org/reports?data_url=https://data.wprdc.org/dataset/5934b8d1-892f-4fd7-84c1-aa890d3ff529/resource/a61b6617-2f06-4745-8731-165139d41667/download/opendata-pubworks---field-listing-22015.csv&format=csv&encoding=&schema_url=">
                    Ver detalles
                  </a>
                </td>
                <td>
                  <a href="#">Ver original</a>
                </td>
              </tr>
              <tr>
                <td class="resource-name">
                  Listado de víctimas del accionar represivo ilegal sin denuncia formal

                </td>
                <td class="resource-ok">
                  CSV
                </td>
                <td class="resource-ok">
                  Si
                </td>
                <td class="resource-error">
                  No
                </td>
                <td class="resource-error">
                  10
                  <a href="http://goodtables.okfnlabs.org/reports?data_url=https://data.wprdc.org/dataset/5934b8d1-892f-4fd7-84c1-aa890d3ff529/resource/a61b6617-2f06-4745-8731-165139d41667/download/opendata-pubworks---field-listing-22015.csv&format=csv&encoding=&schema_url=">
                    Ver detalles
                  </a>
                </td>
                <td>
                  <a href="#">Ver original</a>
                </td>
              </tr>
              <tr>
                <td class="resource-name">
                  Listado de víctimas del accionar represivo ilegal sin denuncia formal

                </td>
                <td class="resource-ok">
                  CSV
                </td>
                <td class="resource-ok">
                  Si
                </td>
                <td class="resource-error">
                  No
                </td>
                <td class="resource-error">
                  10
                  <a href="http://goodtables.okfnlabs.org/reports?data_url=https://data.wprdc.org/dataset/5934b8d1-892f-4fd7-84c1-aa890d3ff529/resource/a61b6617-2f06-4745-8731-165139d41667/download/opendata-pubworks---field-listing-22015.csv&format=csv&encoding=&schema_url=">
                    Ver detalles
                  </a>
                </td>
                <td>
                  <a href="#">Ver original</a>
                </td>
              </tr>
              <tr>
                <td class="resource-name">
                  Listado de víctimas del accionar represivo ilegal sin denuncia formal

                </td>
                <td class="resource-ok">
                  CSV
                </td>
                <td class="resource-ok">
                  Si
                </td>
                <td class="resource-error">
                  No
                </td>
                <td class="resource-error">
                  10
                  <a href="http://goodtables.okfnlabs.org/reports?data_url=https://data.wprdc.org/dataset/5934b8d1-892f-4fd7-84c1-aa890d3ff529/resource/a61b6617-2f06-4745-8731-165139d41667/download/opendata-pubworks---field-listing-22015.csv&format=csv&encoding=&schema_url=">
                    Ver detalle
                  </a>
                </td>
              </tr>
              <tr>
                <td class="resource-name">
                  Listado de víctimas del accionar represivo ilegal sin denuncia formal

                </td>
                <td class="resource-ok">
                  CSV
                </td>
                <td class="resource-ok">
                  Si
                </td>
                <td class="resource-error">
                  No
                </td>
                <td class="resource-error">
                  10
                  <a href="http://goodtables.okfnlabs.org/reports?data_url=https://data.wprdc.org/dataset/5934b8d1-892f-4fd7-84c1-aa890d3ff529/resource/a61b6617-2f06-4745-8731-165139d41667/download/opendata-pubworks---field-listing-22015.csv&format=csv&encoding=&schema_url=">
                    Ver detalles
                  </a>
                </td>
                <td>
                  <a href="#">Ver original</a>
                </td>
              </tr>
              <tr>
                <td class="resource-name">
                  Listado de víctimas del accionar represivo ilegal sin denuncia formal

                </td>
                <td class="resource-ok">
                  CSV
                </td>
                <td class="resource-ok">
                  Si
                </td>
                <td class="resource-error">
                  No
                </td>
                <td class="resource-error">
                  10
                  <a href="http://goodtables.okfnlabs.org/reports?data_url=https://data.wprdc.org/dataset/5934b8d1-892f-4fd7-84c1-aa890d3ff529/resource/a61b6617-2f06-4745-8731-165139d41667/download/opendata-pubworks---field-listing-22015.csv&format=csv&encoding=&schema_url=">
                    Ver detalles
                  </a>
                </td>
                <td>
                  <a href="#">Ver original</a>
                </td>
              </tr>
              <tr>
                <td class="resource-name">
                  Listado de víctimas del accionar represivo ilegal sin denuncia formal

                </td>
                <td class="resource-ok">
                  CSV
                </td>
                <td class="resource-ok">
                  Si
                </td>
                <td class="resource-error">
                  No
                </td>
                <td class="resource-error">
                  10
                  <a href="http://goodtables.okfnlabs.org/reports?data_url=https://data.wprdc.org/dataset/5934b8d1-892f-4fd7-84c1-aa890d3ff529/resource/a61b6617-2f06-4745-8731-165139d41667/download/opendata-pubworks---field-listing-22015.csv&format=csv&encoding=&schema_url=">
                    Ver detalles
                  </a>
                </td>
                <td>
                  <a href="#">Ver original</a>
                </td>
              </tr>
              <tr>
                <td class="resource-name">
                  Listado de víctimas del accionar represivo ilegal sin denuncia formal

                </td>
                <td class="resource-ok">
                  CSV
                </td>
                <td class="resource-ok">
                  Si
                </td>
                <td class="resource-error">
                  No
                </td>
                <td class="resource-error">
                  10
                  <a href="http://goodtables.okfnlabs.org/reports?data_url=https://data.wprdc.org/dataset/5934b8d1-892f-4fd7-84c1-aa890d3ff529/resource/a61b6617-2f06-4745-8731-165139d41667/download/opendata-pubworks---field-listing-22015.csv&format=csv&encoding=&schema_url=">
                    Ver detalles
                  </a>
                </td>
                <td>
                  <a href="#">Ver original</a>
                </td>
              </tr>
            </tbody>
          </table>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <dl class="dl-horizontal">
          <dt>Autor:</dt>
          <dd>{{ portal.author }}</a></dd>
          <dt>URL:</dt>
          <dd><a href="{{ portal.url }}">{{ portal.url }}</a></dd>
          <dt>Estado:</dt>
          <dd>{{ portal.status }}</dd>
          <dt>Tipo de author:</dt>
          <dd>{{ portal.publisher_clasification }}</dd>
          <dt>País/Lenguaje:</dt>
          <dd>
            <span class="label label-info">{{ portal.country }}</span>
              /
            <span class="label label-info">{{ portal.lenguage }}</span>
          </dd>
          <dt>Plataforma utilizada</dt>
          <dd>{{ portal.plataform }}</dd>
          <dt>Tipo de API:</dt>
          <dd>{{ portal.api_type }}</dd>
          <dt>URL de API:</dt>
          <dd>{{ portal.api_endpoint }}</dd>
          <dt>Responsable del Portal</dt>
          <dd>
            {% if portal.owner %}
              {{ portal.owner }}
            {% else %}
            No asignado
            {% endif %}
          </dd>
          {% if currentUser.role === 'admin' or currentUser.role === 'evaluator' %}
          <dt>Habilitado par evaluar:</dt>
          <dd>
            {% if portal.to_evaluate %}
            <span class="text-success">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            </span>
            {% else %}
            <span class="text-danger">
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </span>
            {% endif %}
          </dd>
          {% endif %}
          <dt>Evaluación del Portal de Datos:</dt>
          <dd>
            {% if portal.portal_evaluation %}
            <span class="text-success">
              Realizada <i class="fa fa-check-circle" aria-hidden="true"></i>
            </span>
            {% else %}
            <span class="text-danger">
              Pendiente <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </span>
            {% endif %}
          </dd>
          <dt>Evaluación de Conjuntos de Datos:</dt>
          <dd>
            {% if portal.datasets_evaluation %}
            <span class="text-success">
              Realizada <i class="fa fa-check-circle" aria-hidden="true"></i>
            </span>
            {% else %}
            <span class="text-danger">
              Pendiente <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </span>
            {% endif %}
          </dd>
      </dl>
      {% if currentUser.role === 'admin' %}
      <div class="btn-inline">
        <a class="btn btn-primary" href="/portals/evaluate/{{portal.slug}}" role="button">Re-evaluar</a>
      </div>
      <div class="btn-inline">
        <a class="btn btn-primary" href="/portals/edit/{{portal.slug}}" role="button">Editar Portal</a>
        <form action="/portals/{{portal.slug}}" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_csrf" value="{{_csrf}}">
          <input type="submit" class="btn btn-danger" value="Borrar Portal">
        </form>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
