{% extends "base.html" %}

{% block title %}
  {{portal.title}} |
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      {{portal.title}}
      {% if (currentUser.role === 'admin' or  currentUser.role === 'evaluator') and portal.to_evaluate === true %}
        <a class="btn btn-warning pull-right" href="/portals/evaluation/{{portal.slug}}" role="button">Evaluar <i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
      {% endif %}
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
        <img src="http://placekitten.com/150/150" alt="img-responsive">
        <h2>Description</h2>
        {{ portal.description }}
    </div>

    <div class="col-md-6">
      <dl class="dl-horizontal">
          <dt>Autor:</dt>
          <dd>{{ portal.author }}</a></dd>
          <dt>URL:</dt>
          <dd><a href="{{ portal.url }}">{{ portal.url }}</a></dd>
          <dt>Estado:</dt>
          <dd>{{ portal.status }}</dd>
          <dt>Tipo de author:</dt>
          <dd>{{ portal.publisher_clasification }}</dd>
          <dt>País/Lenguaje:</dt>
          <dd>
            <span class="label label-info">{{ portal.country }}</span>
              /
            <span class="label label-info">{{ portal.lenguage }}</span>
          </dd>
          <dt>Plataforma utilizada</dt>
          <dd>{{ portal.plataform }}</dd>
          <dt>Tipo de API:</dt>
          <dd>{{ portal.api_type }}</dd>
          <dt>URL de API:</dt>
          <dd>{{ portal.api_endpoint }}</dd>
          <dt>Responsable del Portal</dt>
          <dd>
            {% if portal.owner %}
              {{ portal.owner }}
            {% else %}
            No asignado
            {% endif %}
          </dd>
          {% if currentUser.role === 'admin' %}
          <dt>Habilitado par evaluar:</dt>
          <dd>
            {% if portal.to_evaluate %}
            <span class="text-success">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            </span>
            {% else %}
            <span class="text-danger">
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </span>
            {% endif %}
          </dd>
          {% endif %}
      </dl>
      {% if currentUser.role === 'admin' %}
      <div class="btn-inline">
        <a class="btn btn-primary" href="/portals/edit/{{portal.slug}}" role="button">Editar Portal</a>
        <form action="/portals/{{portal.slug}}" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_csrf" value="{{_csrf}}">
          <input type="submit" class="btn btn-danger" value="Borrar Portal">
        </form>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
