{% extends "./../base.html" %}
{% import './_snippets.html' as snippets %}

{% block title %}Perfil | {% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      Perfil de {{ user.name }}
    </h1>
  </div>
  <section class="row">
    <form class="col-md-6 col-md-offset-3" method="post" action="/users/{{ user._id }}">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="_csrf" value="{{_csrf}}">
      {{ snippets.userForm(user) }}
      <button type="submit" class="btn btn-success btn-lg btn-block">Guardar cambios</button>
    </form>
  </section>
{% endblock %}
